# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

# servcie aaount for Google GenAI SDK
serviceAccount.json

# dependencies
node_modules/

# next.js
.next/
out/

# local env
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
